
        <!-- Carousel Start -->

        
        <div class="container-fluid p-0 mb-5">
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let slide of slidesStore">
                    
                  <ng-template carouselSlide [id]="slide.id">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" [src]="slide.img" alt="">
                        <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col-10 col-lg-8">
                                        <h1 class="display-2 text-white animated slideInDown mb-4" style="text-transform: capitalize;">{{slide.title}}</h1>
                                        <p class="fs-5 fw-medium text-white mb-4 pb-2">{{slide.description}}</p>
                                        <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">En savoir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
           
        </div>
        <!-- Carousel End -->
