
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
            <a href="index.html" class="navbar-brand">
                <h1 class="m-0 text-primary"><i class="fa fa-book me-3"></i>TérangaBooks</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="index.html" class="nav-item nav-link active">Acceuil</a>
                    <a href="about.html" class="nav-item nav-link">Plus d'infos</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Nos Services</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                            <a href="facility.html" class="dropdown-item">
                                <div class="d-flex justify-content-between align-items-center">
                                   <img width="26px" src="../../../../assets/img/team-2.jpg" alt="">
                                    <p class="ml-2">échanges de livres (23)</p>
                                </div>
                            </a>
                            <a href="team.html" class="dropdown-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img width="26px" src="../../../../assets/img/team-2.jpg" alt="">
                                     <p class="ml-2">Fournitures Scolaires (54)</p>
                                 </div>
                            </a>
                            <a href="call-to-action.html" class="dropdown-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img width="26px" src="../../../../assets/img/team-2.jpg" alt="">
                                     <p class="ml-2">Niveaux Scolaire (76)</p>
                                 </div>
                            </a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Nous-Contacter</a>
                </div>
                <a href="" class="btn btn-primary rounded-pill px-3 d-none d-lg-block">Nous-rejoindre<i class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </nav>
        <!-- Navbar End -->
