  <!-- Facilities Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">L'Éducation à Votre Portée</h1>
            <p>
            Nous sommes ravis de vous proposer un moyen pratique d'acquérir les fournitures scolaires dont vous avez besoin tout en préservant votre portefeuille.
            </p>
        </div> 
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="facility-item facility-item-1">
                    <div class="facility-icon  bg-primary" style="background-image: url('../../../../assets/img/cartable.jpg');">
                    </div>
                    <div class="facility-text bg-primary">
                        <h3 class="text-primary mb-3"> Échange de Livres</h3>
                        <p class="mb-0">
                            Nous comprenons l'importance de l'éducation et de la réduction des coûts liés aux manuels scolaires.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="facility-item facility-item-2">
                    <div class="facility-icon  bg-success" style="background-image: url('../../../../assets/img/cartable.jpg');">
                    </div>
                    <div class="facility-text bg-success">
                        <h3 class="text-success mb-3"> Niveaux Scolaires</h3>
                        <p class="mb-0">Nous comprenons que les besoins éducatifs varient en fonction du niveau scolaire</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="facility-item facility-item-3">
                    <div class="facility-icon  bg-warning" style="background-image: url('../../../../assets/img/cartable.jpg');">
                    </div>
                    <div class="facility-text bg-warning">
                        <h3 class="text-warning mb-3">Fournitures Scolaires</h3>
                        <p class="mb-0">Nous comprenons que chaque nouvelle année scolaire apporte son lot de besoins en matériel et fournitures.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facilities End -->